<main role="main" class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Ofertas disponibles</h5>
                    <div class="row d-flex align-items-center justify-content-center">
                        <i class="fas fa-seedling h2 m-2 text-secondary"></i><i class="fas fa-carrot h2 m-2 text-secondary"></i><i class="fas fa-tractor h2 m-2 text-secondary"></i>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <h6 class='card-subtitle'>Producto: </h6>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <h6 class='text-uppercase'>{{params}}</h6>
                        </div>
                    </div>
                    <p class="card-text text-center small">Listado de ofertas disponibles para este producto.</p>
                    <p class="card-text text-info"><i class="fas fa-exclamation-circle text-warning"></i> Las ofertas contienen información del producto y del productor.</p>
                    <hr>
                    <div class='mb-1 text-muted'>Opciones: </div>
                    <!-- <a href='nuevaoferta.php' class='btn btn-success btn-sm btn-block mt-2'>Crear nueva oferta</a> -->
                    <p align='center' class='m-0'>[ <a href='login.php' TARGET='_top'>Inicie sesión para crear una oferta</a> ]</p>
                    <hr>
                    <a [routerLink]="['/']" class="card-link"><i class="fas fa-arrow-circle-left"></i> Volver a listado de productos</a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <app-ofert></app-ofert>
                </div>
            </div>
        </div>

    </div>
</main>
