<main class="main">
    
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-exclamation-circle text-warning lead mr-2 mb-2"></i> 
                        <p class='text-secondary text-justify'>Para utilizar las funciones de compra online y publicación de ofertas debe identificarse.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
                <i class="fas fa-store text-success m-3 display-2"></i>
                <form class='form-signin' name='login' ACTION='login.php' METHOD='POST'>
                    <input type="email" id="usrn" name="usrn" class="form-control" placeholder="Correo eléctronico" required autofocus>
                    <input type="password" name="pswd" id="pswd" class="form-control" placeholder="Contraseña" required>
                    
                    <button class="btn btn-sm btn-success btn-block mt-4" type="submit">Entrar</button>
                    
                </form>
                <footer class="mt-4 text-center">
                    <p class="mb-1 text-secondary">&copy; 2020 - Software independiente hecho en Panamá.</p>
                    <br>
                    <a [routerLink]="['/']" class="h6"><i class="fas fa-home"></i> Ir a inicio</a>
                    <hr>
                </footer>
                <div class="row d-flex">
                    <i class="fab fa-cc-visa text-secondary h2 m-2"></i>
                    <i class="fab fa-cc-mastercard text-secondary h2 m-2"></i>
                    <i class="fab fa-cc-paypal text-secondary h2 m-2"></i>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <p class="lead">¿Aún no tienes cuenta?</p>
                <p class="text-secondary text-center">Registrese para comenzar a publicar ofertas o comprar productos en linea desde nuestra aplicación.</p>
                <!-- <p class='text-secondary'>¿Aún no tienes cuenta?. <a [routerLink]="['/forms/register']">Registrese aquí</a> para comenzar a publicar ofertas o comprar productos.
                ponganse en contacto con el </p> -->
                <a [routerLink]="['/forms/register']" class="h6"><i class="fas fa-key"></i> Registrese aquí</a>
            </div>
            
        </div>
    </div>
</main>