<div class="mb-3 p-3 rounded opaco">
    <div class="border-bottom border-gray pb-2 mb-0">
        <h6 class="pb-2 mb-0">Categorías de productos disponibles</h6>
        <small class="text-muted pb-2 mb-0">Para ver los productos disponibles, seleccione una categoría de la lista.</small>
    </div>
    <small></small>
    <div class="row d-flex">
        <div class="col-md-4 pt-3">
            <a class="h6" [routerLink]="['/ofertas']">Lorem ipsum Placeat, deserunt?</a>
        </div>
        <div class="col-md-4 pt-3">
            <a class="h6" [routerLink]="['/ofertas']">Lorem ipsum Placeat, deserunt?</a>
        </div>
        <div class="col-md-4 pt-3">
            <a class="h6" [routerLink]="['/ofertas']">Lorem ipsum Placeat, deserunt?</a>
        </div>
        <div class="col-md-4 pt-3">
            <a class="h6" [routerLink]="['/ofertas']">Lorem ipsum Placeat, deserunt?</a>
        </div>
    </div>
</div>
