<div class="mb-3 p-3 rounded opaco">
    <div class="border-bottom border-gray pb-2 mb-0">
        <h6 class="pb-2 mb-0">Categorías de productos disponibles</h6>
        <small class="text-muted pb-2 mb-0">Para ver los productos disponibles, seleccione una categoría de la lista.</small>
    </div>
    <small></small>
    <div class="row d-flex">
        <div *ngFor="let category of categories" class="col-md-4 d-flex flex-column justify-content-center pt-3">
            <button class="btn btn-small lead text-info d-flex align-items-center p-1" (click)="selectCategory($event, category.idcat)"><i class="{{category.icono}} lead text-success mr-2"></i> {{category.catg}}</button>
            <!-- <a class="lead text-info d-flex align-items-center" [routerLink]="['/ofertas']"><i class="{{category.icono}} lead text-success mr-2"></i> {{category.catg}}</a> -->
            <small class="d-block">@{{category.descripcion}}</small>
        </div>
    </div>
</div>
