<div class="container main">
    <ng-container>
        <app-account-type (emititirTipoCuenta)="getTipoCuenta($event)"></app-account-type>
        <div class="col-md-3">
            <p class="text-success text-center lead">¿Ya tienes una cuenta?</p>
            <p class="text-muted text-center">Inicia sesión con tu correo eléctronico y contraseña.</p>
            <hr>
            <a [routerLink]="['/forms/login']" routerLinkActive="router-link-active"  class="btn btn-sm btn-block btn-success">Iniciar sesión</a>
        </div>
    </ng-container>
    
</div>