<main class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="row">

            <div class=" col-md-3 p-0">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-start align-items-center borde p-4">
                        <i class="fas fa-pen-alt h3 text-info mr-3"></i> 
                        <p class="text-secondary lead m-0">Información personal</p>
                    </div>
                    <div class="d-flex justify-content-start align-items-center borde p-4">
                        <i class="fas fa-map-marked-alt h3 text-info mr-3"></i>
                        <p class="text-secondary lead m-0">Dirección</p>
                    </div>
                    <div class="d-flex justify-content-start align-items-center borde p-4">
                        <i class="fas fa-phone h3 text-info mr-3"></i>
                        <p class="text-secondary lead m-0">Contacto</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button" class="btn btn-link mt-4" (click)=hideForm(0)><i class="fas fa-chevron-left"></i> Volver atrás</button>
                </div>
            </div>

            <div class=" d-flex flex-column col-md-9 mt-3">
                <!-- INFORMACIÓN PERSONAL  -->
                <div class="row d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-info"><i class="fas fa-pen-alt"></i> Información Personal</h5>
                    <!-- <p class="text-center p-1 m-0">Por favor, introduzca su información personal para crear su cuenta.</p> -->
                </div>

                <div class="row p-3 m-2 borde-full rounded">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="lead text-info m-0">Nombre</label> <br>
                        <div *ngIf="registerForm.controls['name'].errors?.required" class="form-control-feedback">
                            <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Nombre' es requerido</p>
                        </div>
                        <input formControlName="name" class="form-control form-control-sm" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastname" class="lead text-info m-0">Apellidos</label> <br>
                        <div *ngIf="registerForm.controls['lastname'].errors?.required" class="form-control-feedback">
                            <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Apellidos' es requerido</p>
                        </div>
                        <input formControlName="lastname" class="form-control form-control-sm" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="idnumber" class="lead text-info m-0"><i class="far fa-address-card"></i> Cédula / Pasaporte</label> <br>
                        <div *ngIf="registerForm.controls['idnumber'].errors?.required" class="form-control-feedback">
                            <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Cédula / Pasaporte' es requerido</p>
                        </div>
                        <input formControlName="idnumber" class="form-control form-control-sm" type="text" placeholder="Ejemplo: 8-000-000">
                    </div>
                </div>
                <!-- FIN INFORMACIÓN PERSONAL  -->
                <!-- DIRECCIÓN  -->
                <div class="row d-flex flex-column justify-content-center align-items-center mt-1">
                    <h5 class="text-info"><i class="fas fa-map-marked-alt"></i> Dirección</h5>
                    <!-- <p class="text-center p-1 m-0">Registre su dirección para que los demás usuarios puedan conocer desde y hacía donde van dirigidas sus compras.</p> -->
                </div>

                <div class="row p-3 m-2 mt-0 borde-full rounded">
                    <div class="col-md-6 mb-3">
                        <label for="province" class="lead text-info m-0"><i class="fas fa-flag"></i> Provincia</label> <br>
                        <div *ngIf="registerForm.controls['province'].errors?.required" class="form-control-feedback">
                            <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> Seleccione una provincia para continuar.</p>
                        </div>
                        <select formControlName="province" class="custom-select d-block w-100 form-control form-control-sm">
                            <option value="" disabled selected>Seleccione una provincia...</option>
                            <option value="1">Bocas Del Toro.</option>
                            <option value="2">Coclé.</option>
                            <option value="3">Colón.</option>
                            <option value="4">Chiriquí.</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="city" class="lead text-info m-0"><i class="fas fa-city"></i> Ciudad</label> <br>
                        <div *ngIf="registerForm.controls['city'].errors?.required" class="form-control-feedback">
                            <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Ciudad' es requerido.</p>
                        </div>
                        <input formControlName="city" class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="address" class="lead text-info m-0"><i class="fas fa-map-marker-alt"></i> Dirección</label> <br>
                        <div *ngIf="registerForm.controls['address'].errors?.required" class="form-control-feedback">
                            <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Dirección' es requerido.</p>
                        </div>
                        <textarea formControlName="address" class="form-control" rows="1" placeholder="Ejemplo: Urbanización Market, Calle 1."></textarea>
                    </div>
                </div>
                <!-- FIN DE DIRECCIÓN  -->
                <!-- CONTACTO  -->
                <div class="row d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-info"><i class="fas fa-phone-volume"></i> Contacto</h5>
                </div>

                <div class="row p-3 m-2 mt-0 bg-light borde-full rounded">
                    <div class="col-md-6 mb-3">
                        <label for="phone" class="lead text-info m-0"><i class="fas fa-phone"></i> Teléfono</label> <br>
                        <input formControlName="phone" class="form-control form-control form-control-sm" type="text" placeholder="800-000">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cellphone" class="lead text-info m-0"><i class="fas fa-mobile-alt"></i> Celular</label> <br>
                        <input formControlName="cellphone" class="form-control form-control form-control-sm" type="text" placeholder="6000-XXXX">
                    </div>
                    <!-- EXTRA-TELEPHONES FormArray -->
                    <div class="container-fluid" formArrayName="extratelephones" *ngFor="let telefono of telephones.controls; let i = index">
                        <div class="row" [formGroupName]=i>
                            <div class="col-md-6 mb-3">
                                <label for="phone" class="lead text-info m-0"><i class="fas fa-phone"></i> Teléfono</label> <br>
                                <input formControlName="phone" class="form-control form-control form-control-sm" type="text" placeholder="800-000">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cell" class="lead text-info m-0"><i class="fas fa-mobile-alt"></i> Celular</label> <br>
                                <input formControlName="cell" class="form-control form-control form-control-sm" type="text" placeholder="6000-XXXX">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-link text-secondary m-0 p-0" (click)="removeExtraPhones(i)"><i class="fas fa-minus-circle"></i> Remover teléfonos adicionales</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-link text-primary m-0 p-0" (click)="addExtraPhones()"><i class="fas fa-plus-circle"></i> Añadir teléfonos adicionales</button>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="d-flex flex-column">
                            <label for="email" class="lead text-success m-0"><i class="fas fa-at"></i> Correo eléctronico</label>
                            <div *ngIf="registerForm.controls['email'].errors?.required" class="form-control-feedback">
                                <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Correo eléctronico' es requerido.</p>
                            </div>
                            <div *ngIf="registerForm.controls['email'].errors?.email" class="form-control-feedback">
                                <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> Debe ingresar un correo válido.</p>
                            </div>
                            <small><i class="fas fa-exclamation-triangle text-danger"></i> Registre un correo válido. <b class="text-danger">Utilice el mismo correo para iniciar sesión</b> luego de registrarse.</small>
                        </div>
                        <input formControlName="email" class="form-control form-control form-control-sm" type="email" placeholder="micorreo@ejemplo.com">
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="d-flex flex-column">
                            <label for="password" class="lead text-success m-0"><i class="fas fa-mask"></i> Contraseña</label>
                            <div *ngIf="registerForm.controls['password'].errors?.required" class="form-control-feedback">
                                <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> El campo 'Contraseña' es requerido.</p>
                            </div>
                            <div *ngIf="registerForm.controls['password'].errors?.minlength" class="form-control-feedback">
                                <p class="m-0 text-danger text-center"><i class="fas fa-exclamation-circle"></i> La contraseña debe ser de al menos 8 caracteres de longitud.</p>
                            </div>
                            <small><i class="fas fa-exclamation-triangle text-danger"></i> Utilice una contraseña de al menos 8 caracteres de longitud. puede usar letras mayúsculas, minúsculas, números y caracteres especiales.</small>
                        </div>
                        <input formControlName="password" class="form-control form-control form-control-sm" type="password" placeholder="">
                    </div>
                </div>
                <!-- FIN DE CONTACTO  -->
                <div class="col-md-12 m-2">
                    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary btn-sm btn-block"><i class="fas fa-check"></i> Registrarse</button>
                </div>
            </div>
           
        </div>
    </form>
    
</main>