@import "../../../../../assets/styles/public/register.forms.css";

.font-options {
    font-size: var(--font-size-option);
}

.borde {
    border-bottom: var(--borders);
}

.borde-full {
    border: var(--borders);
}