.font-options {
    font-size: 1.3rem;
}

.borde {
    /* border-bottom: 1px solid #25963f; */
    /* border-bottom: 1px solid #118091; */
    border-bottom: 1px solid #D8D8D8;
}

.borde-full {
    border: 1px solid #D8D8D8;
}

.wtf {
    background-color: red;
}